[Unit]
Description=CachyOS HTPC - Kodi session
After=systemd-user-sessions.service getty@tty1.service plymouth-quit-wait.service sound.target
Conflicts=getty@tty1.service htpc-steam.service htpc-desktop.service

[Service]
Type=simple
User=__HTPC_USER__
PAMName=login
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal
Environment=WINDOWING=gbm
ExecStart=/usr/bin/kodi-standalone
Restart=no

[Install]
WantedBy=graphical.target
