[Unit]
Description=CachyOS HTPC - KDE Desktop session
After=systemd-user-sessions.service getty@tty1.service plymouth-quit-wait.service sound.target
Conflicts=getty@tty1.service htpc-kodi.service htpc-steam.service

[Service]
Type=simple
User=__HTPC_USER__
PAMName=login
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/startplasma-wayland
Restart=no

[Install]
WantedBy=graphical.target
